.footer {
	position: relative;
	height: auto;
	width: 100vw;
}

.footer_row {
	background: rgb(30, 36, 50);
	display: flex;
	justify-content: center;
	padding: 2em;
}

.footer__column {
	color: #fff;
	margin: 0em 2em;
}

.footer__title {
	font-weight: 600;
	font-size: 16px;
}

.footer__links {
	color: rgb(200, 200, 200);
	font-weight: 300;
	font-size: 12px;
	margin: 0.25em 0em;
}

.footer__backToTopContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	// width: 100vw;
}

.footer__backToTopLink {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: rgb(52, 66, 85);
	padding: 0.25em 0em;
}

.footer__backToTop {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
