.header {
	height: 60px;
	display: flex;
	align-items: center;
	background-color: #131921;
	position: sticky;
	top: 0;
	z-index: 100;
	box-shadow: 0px 1px 5px #000;
}

.header__logo {
	width: 100px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 18px;
}

.header__search {
	display: flex;
	flex: 1;
	align-items: center;
	border-radius: 24px;
}

.header__searchInput {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
	outline: transparent;
}

.header__searchIcon {
	padding: 5px;
	height: 22px !important;
	background-color: #cd9842;
}

.header__optionLineOne {
	font-size: 10px;
}

.header__optionLineTwo {
	font-size: 13px;
	font-weight: 800;
}

.header__optionBasket {
	display: flex;
	align-items: center;
	color: white;
}

.header__basketCount {
	margin-left: 10px;
	margin-right: 10px;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}

.header__option {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
}

.subHeader {
	display: flex;
	background: rgb(36, 42, 59);
	top: 20;
	width: 100%;
	padding: 0.25em 0em;
	z-index: 1;
	display: flex;
	transition: all 0.4s ease-in;
}

.subHeader__container {
	color: white;
	display: flex;
	margin: 0.5em 1em;
}

.subHeader__option {
	display: flex;
	flex-direction: column;
	margin-left: 3px;
	margin-right: 3px;
}

.subHeader__optionLineOne {
	font-size: 10px;
}

.subHeader__optionLineTwo {
	font-size: 13px;
	font-weight: 800;
}

.subHeader__links {
	color: white;
	display: flex;
	align-items: center;
}

.subHeader__link {
	color: #dddddd;
	display: flex;
	align-items: center;
	font-size: 12px;
	margin: 0em 0.5em;
	text-shadow: 0px 3px 3px #000;
}
